<h1>プロフィール登録</h1>
<%= form_for(@profile) do |f| %>

  <p>年齢:
    <%= f.text_field :age %>
  </p>

  <p>性別:
<!--   <select name="sex">
          <option value="0">男</option>
          <option value="1">女</option>
  </select> -->
  <%= f.select :sex, [["男", 0], ["女", 1]] %>
  </p>

  <p>職業:
    <%= f.text_field :job %>
  </p>

  <p>趣味:
    <%= f.text_field :hobby %>
  </p>

  <p>名前:
    <%= f.text_field :name %>
  </p>

  <p>身長:
    <%= f.text_field :height %>
  </p>

  <p>体重:
    <%= f.text_field :weight %>
  </p>

  <p>PR文:
    <%= f.text_area :introduction %>
  </p>


  <%= f.submit "登録します" %>


<% end %>