<h1>会員詳細ページ</h1>

<div class="container">
  <div class="row">
  <ul class="list-group">
    <li class="list-group-item">年齢：<%= @profile.age %></li>
    <li class="list-group-item">性別：<%= @profile.sex %></li>
    <li class="list-group-item">職業：<%= @profile.job %></li>
    <li class="list-group-item">趣味：<%= @profile.hobby %></li>
    <li class="list-group-item">名前：<%= @profile.name %></li>
    <li class="list-group-item">身長：<%= @profile.height %></li>
    <li class="list-group-item">体重：<%= @profile.weight %></li>
    <li class="list-group-item">PR文：<%= @profile.introduction %></li>
  </ul>
  </div>
</div>