
<p>会員詳細ページ</p>

<p><%= link_to "コーデ登録" %></p>
<P><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか？" } %></P>
<p>検索BOX</p>
<p><%= link_to "プロフィール" %></p>
<p><%= link_to "フォロー" %></p>
<p><%= link_to "フォロワー" %></p>
<p><%= link_to "投稿一覧", articles_path %></p>
