
<p>会員詳細ページ</p>


<p><%= link_to "会員登録", new_profile_path %></p>

<p><%= link_to "コーデ登録", new_article_path %></p>
<P><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか？" } %></P>

<p>検索BOX</p>
<p><%= link_to "プロフィール", user_path(@user) %></p>
<p><%= link_to "フォロー", follows_user_path %></p>
<p><%= link_to "フォロワー", followers_user_path %></p>
<p><%= link_to "投稿一覧", articles_path %></p>

<!-- <p><%= link_to edit_profile_path(@profile.id)%></p> -->

