<p id="notice"><%= notice %></p>
<%= @article.user %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @article.description %>
</p>



<h2>コメントを追加</h2>
<%= form_tag(@comment) do %>
<p>
	<%= label :commenter, "コメンター" %><br>
	<%= text_field_tag :commenter %>
</p>

<p>
	<%= label :body, "コメント" %><br>
	<%= text_area_tag :description %>
</p>

<p>
	<%= submit_tag "コメント投稿" %>
</p>

<% end %>

<% if current_user.id == @article.user.id %>
	<%= link_to 'Edit', edit_article_path(@article) %> |
	<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', articles_path %>
