<h1>検索ページ</h1>

<%= search_form_for @q do |f| %>

	<div class="field">
		<%= f.label :sex, "性別" %>
		<%= f.label :age, "年齢"　%>
		<%= f.submit %>
	</div>

<% end %>



	<div class="field">
		<%= f.label :situation_list, "シチュエーション" %>
		<%= text_field_tag 'article[situation_list]', @article.situation_list.join(',') %>
		<%= submit %>
	</div>

