<h1>検索ページ</h1>

<div class="field">
	<%= f.label :sex, "性別" %>
	<%= f.label :age, "年齢"　%>
	<%= f.submit %>
</div>

<div class="field">
	<%= f.label :situation_list, "シチュエーション" %>
	<%= text_field_tag 'article[situation_list]', @article.situation_list.join(',') %>
	<%= submit %>
</div>

